<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false" thread-count="2" verbose="3">

    <test name="RegressionTests">
        <classes>
            <class name="TestNGPractice.TestNGClass">
                <methods>

                </methods>
            </class>
        </classes>
    </test>
</suite>
